@import url(../styles/favicons.css);

/*reset.css*/body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
/*fonts.css*/body{font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.22em;}

/* generic styles */
body {background-color:#f5f5f5;color:#000;}
a {color:#009;text-decoration:none;}
a:hover {color:#1d64ad;text-decoration:underline;}

.message-box span {cursor:pointer;display:block;background:transparent;font-weight:bold;margin:0px 0px;padding:10px 35px;text-align:center;}
.message-box .success {border-bottom:1px solid #aae769;background:-webkit-gradient(linear, left top, left bottom, from(#d0f7a6), to(#bcf97b));
	background: -moz-linear-gradient(top,  #d0f7a6,  #bcf97b);color:#7ed026;text-shadow: #ecfadd 0px 1px 1px;}
.message-box .error {border-color:#c00;background:#ffe5e5 url(../includes/images/exclamation.png) no-repeat 10px 50%;color:#900;}
.message-box .warning {border-color:#cc0;background:#ffffe5 url(../includes/images/error.png) no-repeat 10px 50%;color:#990;}
.message-box .info {border-bottom:1px solid #aae769;background:-webkit-gradient(linear, left top, left bottom, from(#d0f7a6), to(#bcf97b));
	background: -moz-linear-gradient(top,  #d0f7a6,  #bcf97b);color:#7ed026;text-shadow: #ecfadd 0px 1px 1px;}

/* layout styles */
#page {}
#header {height:49px;border-top:solid 1px #fff;border-bottom:solid 1px #dde8f1;background: -webkit-gradient(linear, left top, left bottom, from(#e4f2fd), to(#bdd5e7));
	background: -moz-linear-gradient(top,  #e4f2fd,  #bdd5e7);color:#8caec9;text-shadow: #fff 0px 1px 1px;}
#header h1 {font-family: 'Lobster', arial, serif;font-size:2.5em;padding:0px 0px 0px 25px;}

ul#menu {background:#d8d7d7;border-top:solid 1px #a3c0d6;border-bottom:solid 1px #c7c7c7;padding:05px 10px;height:21px;text-align:left;}
ul#menu li {display:inline;font: normal 18px "Helvetica Neue", Arial, sans-serif;}
ul#menu li a {text-shadow: #bebebe 0px -1px -1px;color:#fff;padding:5px 11px;}
ul#menu li a:hover {background: rgba(140, 174, 201, 0.2);text-shadow: #bebebe 0px -1px -1px;text-decoration:none;}
ul#menu li.current a {background: rgba(140, 174, 201, 0.2);color:#fff;text-shadow: #bebebe 0px -1px -1px;text-decoration:none;border-radius: 6px;}

#main {border-top:solid 1px #fff;font: normal 18px "Helvetica Neue", Arial, sans-serif;}
#main h2 {font-size:2.7em;color:#76829a;margin:10px 0 5px 0px;}
#main h3 {font-size:1.2em;color:#898989;margin:10px 0 5px 0;}

/* login page */
#header-login {border-top:solid 1px #fff;border-bottom:solid 1px #a3c0d6;background: -webkit-gradient(linear, left top, left bottom, from(#e4f2fd), to(#bdd5e7));
	background: -moz-linear-gradient(top,  #e4f2fd,  #bdd5e7);color:#8caec9;text-shadow: #fff 0px 1px 1px;padding:20px;}
#header-login h1 {font-family: 'Lobster', arial, serif;font-size:3em;}
#login {width:300px;background:transparent;color:#898989;margin-left: auto;margin-right: auto;}
#login input.save {border:solid 1px #bdd5e7;font: normal 18px "Helvetica Neue", Arial, sans-serif;background: #e4f2fd;color:#bdd5e7;width: 150px;height: 30px;display: block; margin-top:7px;border-radius: 6px; -webkit-transition: background 0.3s ease;}
#login input.save:hover {border:solid 1px #e4f2fd; background:#bdd5e7;color:#e4f2fd;} 
#login input.password{border:1px solid #c2c2c2;font-family:"Helvetica Neue", Arial, sans-serif;font-size:1.4em;color:#898989;width:300px;height:35px;padding:3px 3px;border-radius: 3px;}
#logout {width:100%;background:transparent;}

/* dashboard */
.content-module {width: 440px;font:15px "Helvetica Neue", Arial, sans-serif;color:#626262;margin:0 auto;}
.content-module img {background-color: #f3f3f3;border-top: 1px solid #fff;border-right: 1px solid rgba(233,233,233,.7);border-left: 1px solid rgba(233,233,233,.7);border-bottom: 1px solid rgba(196,196,196,.35);	padding: 05px;}

.column {float:right;font: 15px "Helvetica Neue", Arial, sans-serif;color:#626262;width:70%;}
ul#subnav {float:left;font: 15px "Helvetica Neue", Arial, sans-serif;color:#626262;width:10%;}
ul#subnav li {background:transparent;list-style: none;display:list-item;width:200px;height:30px;}
ul#subnav li a {font: bold 18px "Helvetica Neue", Arial, sans-serif;text-decoration:none; color:#9d9d9c;text-shadow: #fff 0px 1px 1px;}
ul#subnav li a:hover {color:#76829a;}
ul#subnav li.active a {color:#76829a;}
.add {font: bold 25px "Helvetica Neue", Arial, sans-serif;color:#76829a;text-shadow: #fff 0px 1px 1px;}
fieldset {width:500px;margin:10px 35px 10px 30px;padding:10px 15px;}
fieldset legend {background:transparent;font: 1.3em "Helvetica Neue", Arial, sans-serif;color:#626262;margin:0px 0px 0px -1px;}
fieldset div {float:right;clear:both;margin:5px 0;width:100%;}
fieldset div label {display:block;float:left;width:150px;padding:2px 0;}
fieldset div input,
fieldset div select {border:1px solid #c2c2c2;font: normal 14px "Helvetica Neue", Arial, sans-serif;background: #fff;color:#898989;}
fieldset div textarea {float:left;font-family:"Helvetica Neue", Arial, sans-serif;width:300px;padding:2px 3px;}
fieldset div input.remove {width:15px;}
fieldset div input.button{background:#e4f2fd;color:#8caec9;border-radius: 3px;padding: 3px 3px 3px 3px;}
fieldset div input.button:hover{background:#bdd5e7;color:#e4f2fd;} 
fieldset div input.text{border:1px solid #c2c2c2;font-family:"Helvetica Neue", Arial, sans-serif;width:300px;padding:3px 3px;border-radius: 3px;}
fieldset div input.save {border:solid 1px #51e754;font: normal 18px "Helvetica Neue", Arial, sans-serif;background: -webkit-gradient(linear, left top, left bottom, from(#6dff70), to(#51e754));
	background: -moz-linear-gradient(top,  #6dff70,  #51e754);color:#fff;text-shadow: #51e754 0px -1px -1px;width: 150px;height: 30px;display: block;margin: auto;}
fieldset div input.save:hover{background:#51e754;} 
fieldset div input.checkbox {width:auto;}
fieldset div textarea {height:100px;padding:5px 3px;}
fieldset div textarea.editor {font-family:"Courier New",courier,monospace;height:375px;width:80%;white-space:nowrap;overflow:auto;}
fieldset div p {float:left;clear:both;font-size:85%;margin:5px 0;width:400px;}

/* web-data-source styles */
select#id_network_id option, select#id_service_id option {background:transparent url(../includes/images/favicons.gif) no-repeat;margin:5px 0 0 0;padding:1px 0 2px 22px;}
select#id_network_id option.select, select#id_service_id option.select {background:none;}

#feed-sources {float:left;width:30%;}
#feed-sources ul {list-style:none;margin:0;padding:0;}
#feed-sources ul li {float:left;clear:both;display:block;cursor:move;border:1px solid #ccc;background-color:#fff;margin:0 0 5px 0;padding:5px;width:150px;z-index:100;}
#feed-sources ul li.item a {float:left;display:block;padding:0 0 0 0;}
#feed-sources ul li.item a span {background:transparent url(../includes/images/favicons.gif) no-repeat 0 0;padding:0 5px 2px 16px;}
#feed-sources ul li form {float:right;}
#feed-sources ul li form input.remove {background:#fff url(../includes/images/cross.png) no-repeat 50% 50%;border:0;cursor:pointer;height:16px;width:16px;text-indent:-9999px;}

form#modules {float:left;margin-left:1%;width:68%;}
form#modules .drop-boxes {float:left;margin-top:0;}
.drop {float:left;background-color:#fff;border:solid 1px #ccc;padding:5px; }
.droppable-active {background-color:#efefcc;}
.droppable-hover {background-color:#ccefcc;}
.drop ul {list-style:none;margin:0;padding:0;}
.drop ul li {float:left;clear:both;display:block;cursor:move;border:1px solid #ccc;background-color:#fff;margin:0 0 5px 0;padding:5px;width:150px;z-index:100;}
.drop ul li.item a {float:left;display:block;height:auto;padding:0 0 0 0;}
.drop ul li.item a span {background:transparent url(../includes/images/favicons.gif) no-repeat 0 0;padding:0 5px 2px 16px;}
.drop ul li a.remove {float:right;display:block;background:#fff url(../includes/images/cross.png) no-repeat left 50%;margin-top:2px;width:16px;text-indent:-9999px;outline:none;}

form#add-network .networks {border:solid 1px #ccc;padding:5px 3px;width:100%;}
form#add-network .networks ul.profiles {}
form#add-network .networks ul.profiles li {clear:both;margin:0 0 5px 0;width:100%;}
form#add-network .networks ul.profiles li a {padding:2px;}
form#add-network .networks ul.profiles li input.remove {}
form .photo img {border:solid 1px #ccc;padding:3px;}