@import url(../styles/favicons.css);

/*reset.css*/body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}
/*fonts.css*/body{font:13px arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}select, input, textarea {font:99% arial,helvetica,clean,sans-serif;}pre, code {font:115% monospace;*font-size:100%;}body * {line-height:1.22em;}

/* generic styles */
body {background-color:#e5e5e5;color:#000;}
a {color:#009;text-decoration:none;}
a:hover {color:#1d64ad;text-decoration:underline;}

.message-box span {cursor:pointer;display:block;background-color:#e5e5e5;border:solid 3px #ccc;font-weight:bold;margin:10px 50px;padding:10px 35px;text-align:left;}
.message-box .success {border-color:#0c0;background:#e5ffe5 url(../includes/images/accept.png) no-repeat 10px 50%;color:#090;}
.message-box .error {border-color:#c00;background:#ffe5e5 url(../includes/images/exclamation.png) no-repeat 10px 50%;color:#900;}
.message-box .warning {border-color:#cc0;background:#ffffe5 url(../includes/images/error.png) no-repeat 10px 50%;color:#990;}
.message-box .info {border-color:#00c;background:#d0d0ff url(../includes/images/lightbulb_off.png) no-repeat 10px 50%;color:#009;}

/* layout styles */
#page {}
#header {border-bottom:solid 5px #1a4f85;background-color:#036;color:#e5e5e5;padding:20px;}
#header h1 {font-family:Georgia,"Times New Roman",Times,serif;font-size:277%;}
#header h1 a {color:#e5e5e5;border-bottom:solid 1px #e5e5e5;font-size:60%;vertical-align:middle;}
#header h1 a:hover {color:#fff;border-bottom:solid 1px #fff;text-decoration:none;}
#header ul#menu {position:absolute;top:25px;right:0;padding:10px 20px;height:25px;text-align:right;}
#header ul#menu li {display:inline;font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;font-size:92%;}
#header ul#menu li a {background-color:#1a4f85;color:#fff;padding:5px 10px;}
#header ul#menu li a:hover {background-color:#1d64ad;color:#fff;text-decoration:none;}
#header ul#menu li.current a {background-color:#e5e5e5;color:#036;}

#main {font-family:Georgia,"Times New Roman",Times,serif;margin:10px 20px;}
#main h2 {font-size:216%;}
#main h3 {font-size:154%;margin:10px 0 5px 0;}

.column {float:left;width:48%;}
fieldset {border:solid 1px #ccc;margin:10px 35px 10px 0;padding:10px 15px;}
fieldset legend {font-family:Georgia,"Times New Roman",Times,serif;font-size:154%;}
fieldset div {float:left;clear:both;margin:5px 0;width:100%;}
fieldset div label {display:block;float:left;width:150px;padding:2px 0;}
fieldset div input,
fieldset div select,
fieldset div textarea {float:left;font-family:Georgia,"Times New Roman",Times,serif;width:250px;padding:2px 3px;}
fieldset div select,
fieldset div input.remove,
fieldset div input.button,
fieldset div input.checkbox {width:auto;}
fieldset div textarea {height:100px;padding:5px 3px;}
fieldset div textarea.editor {font-family:"Courier New",courier,monospace;height:375px;width:80%;white-space:nowrap;overflow:auto;}
fieldset div p {float:left;clear:both;font-size:85%;margin:5px 0;width:400px;}

/* web-data-source styles */
select#id_network_id option, select#id_service_id option {background:transparent url(../includes/images/favicons.gif) no-repeat;margin:5px 0 0 0;padding:1px 0 2px 22px;}
select#id_network_id option.select, select#id_service_id option.select {background:none;}

#feed-sources {float:left;width:30%;}
#feed-sources ul {list-style:none;margin:0;padding:0;}
#feed-sources ul li {float:left;clear:both;display:block;cursor:move;border:1px solid #ccc;background-color:#fff;margin:0 0 5px 0;padding:5px;width:150px;z-index:100;}
#feed-sources ul li.item a {float:left;display:block;padding:0 0 0 0;}
#feed-sources ul li.item a span {background:transparent url(../includes/images/favicons.gif) no-repeat 0 0;padding:0 5px 2px 16px;}
#feed-sources ul li form {float:right;}
#feed-sources ul li form input.remove {background:#fff url(../includes/images/cross.png) no-repeat 50% 50%;border:0;cursor:pointer;height:16px;width:16px;text-indent:-9999px;}

form#modules {float:left;margin-left:1%;width:68%;}
form#modules .drop-boxes {float:left;margin-top:0;}
.drop {float:left;background-color:#fff;border:solid 1px #ccc;padding:5px;}
.droppable-active {background-color:#efefcc;}
.droppable-hover {background-color:#ccefcc;}
.drop ul {list-style:none;margin:0;padding:0;}
.drop ul li {float:left;clear:both;display:block;cursor:move;border:1px solid #ccc;background-color:#fff;margin:0 0 5px 0;padding:5px;width:150px;z-index:100;}
.drop ul li.item a {float:left;display:block;height:auto;padding:0 0 0 0;}
.drop ul li.item a span {background:transparent url(../includes/images/favicons.gif) no-repeat 0 0;padding:0 5px 2px 16px;}
.drop ul li a.remove {float:right;display:block;background:#fff url(../includes/images/cross.png) no-repeat left 50%;margin-top:2px;width:16px;text-indent:-9999px;outline:none;}

form#add-network .networks {margin:-150px 0 0 420px;border:solid 1px #ccc;padding:5px 3px;width:120px;}
form#add-network .networks ul.profiles {}
form#add-network .networks ul.profiles li {float:left;clear:both;margin:0 0 5px 0;width:100%;}
form#add-network .networks ul.profiles li a {float:left;padding:2px;}
form#add-network .networks ul.profiles li input.remove {float:right;}
form .photo img {border:solid 1px #ccc;padding:3px;}